*{
    margin:0px;
    padding:0px;
    font-family: roboto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 0, 0, 0.9);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width:fit-content;
    height:fit-content;
   
    
  
}

.megacontainer{
    background-color:white;
    border-radius: 3rem;
    border: 5px solid black;
    padding:2rem;
    margin-top:5%;
    background-color: white;
    background-position: center;
    background-size: cover;
}

.megacontainer2{
    background-color:white;
    border-radius: 3rem;
    border: 5px solid black;
    padding:2rem;
    margin-top:5%;
   
    background-position: center;
    background-size: cover;

}

#pokemonName{
    display: block;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding:2px;
    background-color: rgb(206, 214, 221);
}

#btn{
    background-color: blue;
    border: none;
    padding:5px;
    border-radius: 5px;
    margin-top:10px;
    margin-left:20%;
    color: white;
    cursor: pointer;
}


.c2{
   display: flex;
   justify-content: center;
   align-content: center;
}

.c3{
    margin-left:5%;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#pi{
    margin-left:-10px;
    height: 100px;
    width:100px;
}

.left{
    
    background: linear-gradient(rgba(255,255,255,0.7),rgba(35, 34, 34, 0.7)),url(./imgs/poke.jpeg);
    background-position: center;
    background-size: cover;
    border:2px solid black;
    border-radius: 1rem;
    padding:2rem;
}

.right{
    
    padding:1rem;
    
    border-radius: 1rem;

}

#nametag{
    
    height: fit-content;
    font-size: large;
    padding:10px;
    border-radius: 1rem;
    background-color: white;
}

#infotag{
    
    padding: 10px;
    height: fit-content;
    font-size: large;
    border-radius:1rem;
    margin-top:5%;
    background-color: white;
}

.info{
    gap:10px;
}

#ti1{
    height:50px;
    width:70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#ti2{
    height:50px;
    width:70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#typeimg{
    display: flex;
    padding:10px;
}

#ht1{
    top:-100px;
}

#poi{
    height:50px;
    top:0px;
    border-radius: 50%;
}

.nav{
    background-color:transparent;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;

}

#reset{
    background-color: blue;
    border: none;
    padding:5px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}